#content-app{ 
  margin: 100px auto auto;
  padding: 8px;  
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

#formulario-heroi{
  display: flex;
  flex-direction: column; 
  align-items: center;
}

#formulario-heroi input, #formulario-heroi button{
  margin-top: 10px;
}

input{
  width: 225px;
  height: 30px;
  padding: 2px 4px;
  background: transparent;
  border-style: hidden;
  border-bottom: 2px solid rgb(255, 255, 255);
}

input:focus, input{
  outline: none;
}

button{
  width: 150px;
  height: 25px;
  position: relative;
  top: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 2px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);  
}

button:hover{ 
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  box-shadow:
  1px 2px 5px 0px rgba(255, 255, 255, 1), 
  -1px -1px 14px 0px rgba(255, 255, 255, 1), 
  -9px 9px 5px 0px rgba(0, 0, 0, .4), 
  3px 17px 3px 0px rgba(0, 0, 0, .3);
  background: radial-gradient(circle, rgb(208, 150, 247) 0%, rgba(255, 225, 239, 0.315) 100%);
}

#feminino, #masculino{
  height: 20px;  
  width: 50px;
}

#formulario-heroi div{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

form div, form input, h1{    
  color: rgb(255, 255, 255);
}






