.title{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

#form-up-heroi{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

#form-up-heroi input{
    margin-right: 14px;    
} 

.content-personagem {
    display: flex;
    flex-direction: row;
    width: 520px;
    height: 240px;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 20px;
    margin: 30px 0;
}

.informacoes {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.informacoes div{
    margin: 4px 20px;
}

#experiencia{
    padding: 4px 60px;
    border-radius: 20px;
    border: 1px solid rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%,
                                    rgba(244,151,193,1) 29%,
                                    rgba(118,174,241,1) 56%,
                                    rgba(118,174,241,0) 100%);
}

#epx-ganha{
    background-color: rgb(102, 51, 153);
    
}

#nome img{
    width: 15px;
    margin-left: 5px;
}

#personagem img{
    width: 230px;
    padding: 5px 8px;
}
